* {
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.nav{
    margin-bottom: 200px;
}
.principal-box {
    display: flex;
    min-width: 790px;
    max-width: 800px;
    flex-wrap: wrap;
    margin : 0 auto;
}
.posts-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 300px;
    min-width: 798px;
    margin-bottom: 20px;
}
.post-img{
    width: 417px;
    height: 300px;
}
.post-img img{
    height: 300px;
    width: 418px;
    border-radius: 10px 0 0 10px;
}
.post-text{
    display: flex;
    width: 380px;
    height: 100%;
    align-items: center;
    border: 1px solid black;
    border-radius: 0 10px 10px 0;
}

.post-title{
    margin: 20px 0;
    text-align: center;
    font-size: 2rem;
    font-family: "Edu VIC WA NT Beginner";
}
.post-content{
    margin: 0 10px 20px 10px;
    text-align: center;
    font-size: 1.2rem;
    font-family: "Roboto";
}
.post-btn{
    cursor: pointer;
    width: 80px;
    height: 50px;
    border: 1px solid black;
    box-shadow: 0 10px 10px 0 black;
}
.post-btn a {
    font-family: "Roboto";
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}
.center{
    display: flex;
    justify-content: center;
}